$white-color: #ffffff;
$light-black-color: #0B0E12;
$black-color: #090909;
$red-color: #EB0237;
$green-color: #43AD28;
$orange-color: #EB6402;

$colors: (
        black: $black-color,
        white: $white-color,
        red: $red-color,
        green: $green-color,
        orange: $orange-color,
)